{% extends 'me/base.html' %}

{% block content %}
<h1>TEST</h1>
<button class="tw-bg-violet-500 tw-rounded tw-hover:bg-violet-600 tw-focus:outline-2 
    tw-focus:outline-offset-2 tw-focus:outline-violet-500 tw-active:bg-violet-700 ...">
  Save changes
</button>

<div class="container text-center">
  <div class="container text-center">
  <div class="row">
    <div class="col-sm-2 tw-bg-violet-500">col-sm-8</div>
    <div class="col-sm-10 tw-bg-red-500">col-sm-4</div>
  </div>
  <div class="row">
    <div class="col-sm tw-bg-green-500">col-sm</div>
    <div class="col-sm tw-bg-blue-500">col-sm</div>
    <div class="col-sm tw-bg-violet-500">col-sm</div>
  </div>
</div>
  <h1 class="tw-font-sans">ABCabc</h1>
  <h1 class="tw-font-serif">ABCabc</h1>
  <h1 class="tw-font-mono">ABCabc</h1>
</div>
<div>
  <p class="tw-text-xs">ABCabc</p>
  <p class="tw-text-sm">ABCabc</p>
  <p class="tw-text-base">ABCabc</p>
  <p class="tw-text-lg">ABCabc</p>
  <p class="tw-text-xl">ABCabc</p>
  <p class="tw-text-2xl">ABCabc</p>
  <p class="tw-text-3xl">ABCabc</p>
  <p class="tw-text-4xl">ABCabc</p>
  <p class="tw-text-5xl">ABCabc</p>
  <p class="tw-text-6xl">ABCabc</p>
  <p class="tw-text-7xl">ABCabc</p>
  <p class="tw-text-8xl">ABCabc</p>
  <p class="tw-text-9xl">ABCabc</p>
</div>
{% endblock content %}